    <div class="footer">
        <div class="container">
            <div class="col-md-2">
                <h4>Community</h4>
                <ul class="footer-list">
                    <li>Tickets</li>
                    <li>Tutorials</li>
                    <li>Questions</li>
                    <li>Suggestions</li>
                </ul>
            </div>
            <div class="col-md-2">
                <h4>Links</h4>
                <ul class="footer-list">
                    <li>Helpdesk</li>
                    <li>ClockWorks.ca</li>
                    <li>Newsletter</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Trending Suggestions</h4>
                <ul class="footer-list">
                    <li>Auto-renew accommodations through self registration</li>
                    <li>Additional detail in email notifications about instructor test info submission</li>
                    <li>Ability to merge class test definitions</li>
                    <li>adding a column to the test/exams tab</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Recent Tutorials</h4>
                <ul class="footer-list">
                    <li>How to Upgrade ClockWork Web</li>
                    <li>How to Uninstall ClockWork Appointment Sync</li>
                    <li>How to enable online test booking module</li>
                    <li>How to enable online self registration module</li>
                </ul>
            </div>
        </div>
    </div>