<div class="sugg-intro">
    <div class="container">
        <h1>Suggestions</h1>
        <p>Vote for suggestions that you would like to see added into ClockWork</p>
        <input type="text" placeholder="Search Suggestions" class="searchbox">
    </div>
</div>

<div class="sugg-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-3">2 Suggestions</div>
            <div class="col-md-6 center">Sort by: <strong>Newest</strong> | Popular</div>
            <div class="col-md-3 right">
                My Suggestions
            </div>
        </div>
    </div>
</div>

<div class="sugg-list">
    <div class="container">
        <div class="sugg-suggestion">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="sugg-suggestion-title"><a href="#/suggestion">Auto-renew accommodations through self registration module</a></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="sugg-suggestion-desc">Submitted by <strong>South Harmon Institute of Technology</strong></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 right">
                    <div class="sugg-suggestion-rating">
                        <i class="fa fa-thumbs-o-up sugg-suggestion-rating-thumb"></i> 23
                    </div>
                </div>
            </div>
        </div>
        <div class="sugg-suggestion">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="sugg-suggestion-title">Auto-renew accommodations through self registration module</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="sugg-suggestion-desc">Submitted by <strong>South Harmon Institute of Technology</strong></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="sugg-suggestion-voted">You liked this suggestion on 3/12/2012 <i class="fa fa-caret-down"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 right">
                    <div class="sugg-suggestion-rating blue">
                        <i class="fa fa-thumbs-o-up sugg-suggestion-rating-thumb"></i> 12
                    </div>
                </div>
            </div>
        </div>
        <div class="sugg-suggestion-loadmore">
            <button class="btn btn-default">Load More</button>
        </div>
    </div>
</div>