<div class="sugg-single-header">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <i class="fa fa-calendar-o"></i> Feb 4, 2014
                </div>
                <div class="col-md-8 center">
                    Submitted by <span style="sugg-single-submittedby">{{sugg.name}}</span>
                </div>
                <div class="col-md-2 right">
                    <strong>{{sugg.votes}}</strong> votes
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sugg-single stickyFooterDependancy">
    <div class="container">
        <div class="alert alert-warning center" role="alert">
            <a href="#" class="alert-link" style="font-size:16pt;font-weight:normal">Suggestion is Pending</a>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="sugg-single-title">
                    <h1>{{sugg.title}}</h1>
                </div>
                <div class="sugg-single-body">
                    <p>{{sugg.summary}}</p>
                </div>
                
            </div>
        </div>
    </div>
</div>
<div class="messages">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                
                <div class="messagebox">
                    <textarea rows="5" placeholder="Enter your message here" class="form-control"></textarea>
                    <button class="btn btn-info right">Send Message</button>
                </div>
                    <ul class="messages-list">
                        <li>
                            <div class="row">
                                <div class="col-md-6 left">
                                    <span style="display:inline-block">
                                        <strong>Fhad Sheikh</strong><br>
                                        Special Projects Manager
                                    </span>
                                    <span style="width:36px; float:left; margin-right:10px;">
                                        <img src="http://2.gravatar.com/avatar/5342d530d830b0fba504fe46153041cd?s=36&d=mm&r=g">
                                    </span>
                                </div>
                                <div class="col-md-6 right">
                                    <Br><i class="fa fa-clock-o"></i> May 17, 2013 at 1:12 pm
                                </div>
                            </div>
                            <div class="row message">
                                <div class="col-md-12">
                                    <p>Sorry you have been rejected</p> 
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-md-6 left">
                                    <Br><i class="fa fa-clock-o"></i> May 17, 2013 at 1:12 pm
                                </div>
                                <div class="col-md-6 right">
                                    <span style="display:inline-block">
                                        <strong>John Smith</strong><br>
                                        Director of Disability
                                    </span>
                                    <span style="width:36px; float:right; margin-left:10px;">
                                        <img src="http://2.gravatar.com/avatar/5342d530d830b0fba504fe46153041cd?s=36&d=mm&r=g">
                                    </span>
                                </div>
                            </div>
                            <div class="row message">
                                <div class="col-md-12">
                                    <p>You submitted this suggestion</p> 
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-md-6 left">
                                    <span style="display:inline-block">
                                        <strong>Fhad Sheikh</strong><br>
                                        Special Projects Manager
                                    </span>
                                    <span style="width:36px; float:left; margin-right:10px;">
                                        <img src="http://2.gravatar.com/avatar/5342d530d830b0fba504fe46153041cd?s=36&d=mm&r=g">
                                    </span>
                                </div>
                                <div class="col-md-6 right">
                                    <Br><i class="fa fa-clock-o"></i> May 17, 2013 at 1:12 pm
                                </div>
                            </div>
                            <div class="row message">
                                <div class="col-md-12">
                                    <p>Sorry you have been rejected</p> 
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-md-6 left">
                                    <Br><i class="fa fa-clock-o"></i> May 17, 2013 at 1:12 pm
                                </div>
                                <div class="col-md-6 right">
                                    <span style="display:inline-block">
                                        <strong>John Smith</strong><br>
                                        Director of Disability
                                    </span>
                                    <span style="width:36px; float:right; margin-left:10px;">
                                        <img src="http://2.gravatar.com/avatar/5342d530d830b0fba504fe46153041cd?s=36&d=mm&r=g">
                                    </span>
                                </div>
                            </div>
                            <div class="row message">
                                <div class="col-md-12">
                                    <p>You submitted this suggestion</p> 
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</div>