<div class="sugg-single-header">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <i class="fa fa-calendar-o"></i> {{sugg.submissiondate}}
                </div>
                <div class="col-md-6 center">
                    Submitted by <span style="sugg-single-submittedby">{{sugg.name}}</span>
                </div>
                <div class="col-md-3 right">
                    <strong>{{sugg.votes}}</strong> votes
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sugg-single stickyFooterDependancy">
    <div class="container">
        <div class="alert alert-warning center" role="alert">
            <a href="#" class="alert-link" style="font-size:16pt;font-weight:normal">Suggestion is Pending</a>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="sugg-single-title">
                    <h1>{{sugg.title}}</h1>
                </div>
                <div class="sugg-single-body">
                    <p>{{sugg.summary}}</p>
                </div>
                
            </div>
        </div>
    </div>
</div>
<div class="messages">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                
                <div class="messagebox">
                    <textarea ng-model="newMessage" rows="3" placeholder="Enter your message here" class="form-control"></textarea>
                    <button ng-click="submitMessage()" class="btn btn-info btn-sm right">Send Message</button>
                </div>
                    <ul class="messages-list">
                        <li ng-repeat="message in messages">
                            <div class="row">
                                <div class="col-md-6 left">
                                    <span style="display:inline-block">
                                        <strong>{{message.firstname}} {{message.lastname}}</strong><br>
                                        {{message.jobtitle}}
                                    </span>
                                    <span style="width:36px; float:left; margin-right:10px;">
                                        <img class="img-thumbnail" width="36px" ng-src="{{message.gravatar}}">
                                    </span>
                                </div>
                                <div class="col-md-6 right messagedate"><br><i class="fa fa-clock-o"></i> {{message.date | timeago}}</div>
                            </div>
                            <div class="row message">
                                <div class="col-md-12">
                                    <p>{{message.message}}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</div>