<div class="sugg-single-header">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <i class="fa fa-calendar-o"></i> Feb 4, 2014
                </div>
                <div class="col-md-8 center">
                    Submitted by <span style="sugg-single-submittedby">South Harmon Institute of Technology</span>
                </div>
                <div class="col-md-2 right">
                    <strong>20</strong> Likes
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sugg-single">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="sugg-single-title">
                        <h1>Auto-renew accommodations through self registration module</h1>
                </div>
                <div class="sugg-single-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                
                <div class="sugg-single-rating">
                    <h3>Would you like to see this feature in ClockWork?</h3>
                    <button class="btn btn-lg btn-info"><i class="fa fa-thumbs-up"></i></button>
                    <button class="btn btn-lg btn-danger"><i class="fa fa-thumbs-down"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>