<div class="sugg-intro">
    <div class="container">
        <h1>Suggestions</h1>
        <p>Vote for suggestions that you would like to see added into ClockWork</p>
        <input type="text" placeholder="Search Suggestions" class="searchbox" ng-model="search">
    </div>
</div>

<div class="sugg-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-3">{{count}} Suggestions</div>
            <div class="col-md-6 center">
                Sort by: 
                <a ng-click="sortPopular('title')" ng-class="sortClass('title')">
                    Name
                </a>
                | 
                <a ng-click="sortPopular('-submissiondate')" ng-class="sortClass('submissiondate')">
                    Newest
                </a>
                | 
                <a ng-click="sortPopular('-votes')" ng-class="sortClass('votes')">
                    Popular
                </a>
            </div>
            <div class="col-md-3 right">
                <a ng-click="viewMySuggestions()" ng-show="mySuggestions">My Suggestions</a>
                <a ng-click="viewAllSuggestions()" ng-show="allSuggestions">All Suggestions</a>
            </div>
        </div>
    </div>
</div>

<div class="sugg-list stickyFooterDependancy">
    <div class="container">
        <div class="sugg-suggestion" ng-repeat="suggestion in suggestions | toArray | orderBy: order | filter:search">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="sugg-suggestion-title">
                                <a ng-click="openSuggestion(suggestion)">
                                    {{suggestion.title}} <span ng-hide="suggestion.status == 1"><span class="label label-warning" style="font-weight:500">PENDING</span></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="sugg-suggestion-desc">Submitted by <strong>{{suggestion.name}}</strong><br>{{suggestion.submissiondate}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 right">
                    <div class="sugg-suggestion-rating" ng-show="suggestion.status == 1">
                        <span ng-show="suggestion.hasVoted"><i class="fa fa-check sugg-suggestion-rating-thumb"></i> {{suggestion.votes | number}}</span>
                        <span ng-hide="suggestion.hasVoted"><i class="fa fa-thumbs-o-up sugg-suggestion-rating-thumb"></i> {{suggestion.votes | number}}</span>
                    </div>
                    <div class="sugg-suggestion-rating" ng-hide="suggestion.status == 1">
                        <i class="fa fa-hourglass-2 sugg-suggestion-rating-thumb"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>